
@font-face {
    font-family:'Renault Life';
    src:	url('fonts/RenaultLife-Light.woff2') format('woff2'),
    url('fonts/RenaultLife-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:'Renault Life';
    src:	url('fonts/RenaultLife-LightItalic.woff2') format('woff2'),
    url('fonts/RenaultLife-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family:'Renault Life';
    src:	url('fonts/RenaultLife-Italic.woff2') format('woff2'),
    url('fonts/RenaultLife-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family:'Renault Life';
    src:	url('fonts/RenaultLife-Regular.woff2') format('woff2'),
    url('fonts/RenaultLife-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:'Renault Life';
    src:	url('fonts/RenaultLife-Bold.woff2') format('woff2'),
    url('fonts/RenaultLife-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family:'Renault Life';
    src:	url('fonts/RenaultLife-BoldItalic.woff2') format('woff2'),
    url('fonts/RenaultLife-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}


html, body {
    margin: 0;
    overflow-x: hidden;
    color: white;
    font-family: 'Renault Life', Arial, sans-serif;
}

#game-container {
    position: fixed;
    width: 100%;
    height: 100%;
}

#ui-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#start-menu, #game-menu {
    position: relative;
    width: 100%;
    height: 100%;
}

#start-buttons {
    /* vertical-align: middle; */
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

/*#game-menu,*/
#endgame-menu {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.button {
    cursor: pointer;
}

#start-button, .center-text {
    position: absolute;
    left: 42%;
    right: 42%;
    background: green;
    padding: 15px;
}

div#timer-wrapper {
    position: absolute;
    top: 31px;
    align-content: center;
    width: 100%;
}

#game-timer {
    width: 40px;
    margin: auto;
    font-size: 16px;
    background-image: url(sprites/clock.png);
    padding: 9px 11px 9px 50px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-color: #ba0930;
    background-position-x: 10px;
    box-shadow: 0 0 50px red;
    border: 2px solid #ba2f50;
    font-weight: bold;
}

/*Joystick*/

#joystick-wrapper {
    background-image: url(sprites/joystick_back.png);
    background-position: -2px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 90px;
    width: 170px;
    height: 170px;
    position: absolute;
    bottom: 40px;
    right: 26px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.joystick {
    background-image: url(sprites/joystick_front.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 100%;
    cursor: pointer;
    height: 55%;
    width: 55%;
    user-select: none;
}

/*Joystick end*/

/*Settings*/
div#settings-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
}

.setting-field label {
    width: 160px;
    display: inline-block;
    padding: 0 5px;
    color: white;
}

.setting-field {
    text-align: end;
}

#current-info {
    text-align: end;
    color: white;
    padding: 10px;
}

/*Settings End*/
/*Mini map Start*/
#minimap-wrapper {
    position: absolute;
    right: 35px;
    bottom: 250px;
    width: 250px;
    height: 250px;
    border: 2px solid #fff;
    overflow: hidden;
    border-radius: 180px;
    background-color: #100925;
    max-height: 25%;
}

#minimap {
    background-image: url(sprites/map-back.jpg);
    width: 300%;
    height: 300%;
    /*border: 2px solid #8e8e8e;*/
    background-size: 100%;
    background-position: center;
    overflow: hidden;
    position: relative;
}

#minimap-car, #minimap-arcane, #minimap-arrow {
    position: absolute;
}

#minimap-car, #minimap-arcane, #minimap-car-image, #minimap-arrow {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#minimap-car-image {
    background-image: url(sprites/car.png);
    width: 8px;
    height: 16px;
    position: relative;
    top: -3px;
}

#minimap-arcane {
    width: 16px;
    height: 16px;
}

#minimap-arrow {
    background-image: url(sprites/arrow.png);
    width: 42px;
    height: 50px;
}

#minimap-arcane.arcane_1 {
    background-image: url(sprites/arcane_1.png);
}

#minimap-arcane.arcane_2 {
    background-image: url(sprites/arcane_2.png);
}

#minimap-arcane.arcane_3 {
    background-image: url(sprites/arcane_3.png);
}

#minimap-arcane.arcane_4 {
    background-image: url(sprites/arcane_4.png);
}

#minimap-arcane.arcane_5 {
    background-image: url(sprites/arcane_5.png);
}

/*Mini map End*/

/*Collected Arcanes*/
#collected-arcanes {
    position: absolute;
    bottom: 14px;
    left: 14px;
}

.ui-arcane {
    position: relative;
    margin: 0 10px;
    float: left;
    width: 60px;
    height: 80px;
}

#c-arcane_1 .arcane-icon {
    background-image: url(sprites/arcane_1_off.png);
}

#c-arcane_1.collected .arcane-icon, #collected-arcanes.paused #c-arcane_1 .arcane-icon {
    background-image: url(sprites/arcane_1.png);
}

#c-arcane_2, #c-arcane_2 .arcane-icon {
    background-image: url(sprites/arcane_2_off.png);
}

#c-arcane_2.collected .arcane-icon, #collected-arcanes.paused #c-arcane_2 .arcane-icon {
    background-image: url(sprites/arcane_2.png);
}

#c-arcane_3 .arcane-icon {
    background-image: url(sprites/arcane_3_off.png);
}

#c-arcane_3.collected .arcane-icon, #collected-arcanes.paused #c-arcane_3 .arcane-icon {
    background-image: url(sprites/arcane_3.png);
}

#c-arcane_4 .arcane-icon {
    background-image: url(sprites/arcane_4_off.png);
}

#c-arcane_4.collected .arcane-icon, #collected-arcanes.paused #c-arcane_4 .arcane-icon {
    background-image: url(sprites/arcane_4.png);
}

#c-arcane_5 .arcane-icon {
    background-image: url(sprites/arcane_5_off.png);
}

#c-arcane_5.collected .arcane-icon, #collected-arcanes.paused #c-arcane_5 .arcane-icon {
    background-image: url(sprites/arcane_5.png);
}

.arcane-icon {
    width: 60px;
    height: 80px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
}

.ui-arcane.collected .arcane-icon {
    -webkit-animation-name: arcaneCollectedAnim; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: arcaneCollectedAnim;
    animation-duration: 3s;
}

.arcane-glow {
    opacity: 0;
    background-image: url(sprites/glow.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    position: absolute;
    left: -95px;
    top: -84px;
    z-index: 1;
}

.ui-arcane.collected .arcane-glow {
    opacity: 0.7;
}

.arcane-title, .paused-title {
    opacity: 0;
    position: absolute;
    z-index: 3;
    width: 120px;
    top: -40px;
    left: -30px;
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 3px #f00, 1px -1px 3px #f00, -1px 1px 3px #f00, 1px 1px 3px #f00;
}

.arcane-title {
    -webkit-animation-name: arcanetitleanim; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    animation-name: arcanetitleanim;
    animation-duration: 6s;
}

#collected-arcanes.paused .paused-title {
    opacity: 1;
}

/*Collected Arcanes End*/

#settings-wrapper {
    display: none;
}

@media (max-width: 1280px) {
    #minimap {
        /*width: 260px;*/
        /*height: 197px;*/
    }

    #joystick-wrapper {
        /*width: 140px;*/
        /*height: 140px;*/
        /*bottom: 45px;*/
        /*left: 45px;*/
    }
}

/** Animations*/
/* Safari 4.0 - 8.0 */
@-webkit-keyframes arcanetitleanim {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Standard syntax */
@keyframes arcanetitleanim {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes arcaneCollectedAnim {
    0% {
        /*width: 80px;*/
        /*margin-right: -10px;*/
    }
    20% {
        width: 80px;
        margin-left: -10px;
    }
    80% {
        width: 80px;
        margin-left: -10px;
    }
    100% {
        /*width: 80px;*/
        /*margin-right: -10px;*/
    }
}

/* Standard syntax */
@keyframes arcaneCollectedAnim {
    0% {
        /*width: 80px;*/
        /*margin-right: -10px;*/
    }
    20% {
        width: 80px;
        margin-left: -10px;
    }
    80% {
        width: 80px;
        margin-left: -10px;
    }
    100% {
        /*width: 80px;*/
        /*margin-right: -10px;*/
    }
}

